.container-1 div, .container-2 div{
    border: 2px solid lightsalmon;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

@media(min-width:768px){

.container-2 {
    display: flex;
    justify-content: space-around;
}

.container-1 {
    display: flex;
    
}
}

.box-1 {
    flex: 2;
    order: 2;
}

.box-2 {
    flex: 1;
    order: 1;
}

.box-3 {
    flex: 1;
    order:3;
}

.container-2-box {
    flex-basis: 27%;
}